
<div class="col1">
  <%= image_tag @user.profilepic.url, :size => "150x150" %>
</div>
<div class="col2">
  <h1><%= @user.fname+" "+@user.lname %></h1>
</div>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

